markdown-1.0
.kdev4
.*~
autom4te.cache
.deps
.libs
configure*
Makefile*
ac*.m4
config.guess
config.h*
config.s*
config.log
config.nice
install-sh
ltmain.sh
libtool
*.la
missing
mkinstalldirs
*.lo
run-tests.php
modules
build
.directory
*.bak
